<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en">
        <title>iWellsite homework</title>
        <!--/*/ <th:block th:include="fragments/headerinclude :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

            <div th:if="${not #lists.isEmpty(chatRooms)}">

                <h2>Chat Rooms</h2>

                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th sec:authorize="hasAnyAuthority('USER','ADMIN')">View</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                    </tr>
                    <tr th:each="chatRoom : ${chatRooms}">
                        <td th:text="${chatRoom.id}"><a href="/chatRoom/${chatRoom.id}">Id</a></td>
                        <td th:text="${chatRoom.name}">name</td>
                        <td th:text="${chatRoom.description}">description</td>
                        <td sec:authorize="hasAnyAuthority('USER','ADMIN')"><a th:href="${ '/chatRoom/' + chatRoom.id}">View</a></td>
                        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/chatRoom/edit/' + chatRoom.id}">Edit</a></td>
                        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/chatRoom/delete/' + chatRoom.id}">Delete</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>